/* *{
    border: solid .5px black;
} */

body{
    margin-left: 0;
    margin-right: 0;
}


#header-bloc{
    display: flex;
    flex-direction: column;
}

#logo{
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    height: 100%;
}

#logo img{
    width: 100px;

}
.logo-reservia{
    display: inline-block;
   
}

#sign-out{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: right;
    margin:15px 0px 0 0;
}


#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#menu ul{
   display: flex;
   padding:0 ;
   margin: 0;
   width: 100%;
}

#menu ul li{
    padding: 0 0 15px 0;
    width: 50%;
    border-bottom: solid 4px transparent;
}

#menu ul li a{
    font-size: 20px;
}

#menu ul li:hover{
    border-top: solid 4px transparent;
    border-bottom: solid 4px #0065FC;
    transition: border-bottom .5s ease;
}

#finder-bloc{
    padding:35px 20px 20px 20px;
}

#search-area h1{
    font-size: 25px;
    margin-bottom: 15px;
}

#search-area p{
    font-size: 18px;

}

#global-search-bar{
    margin-top: px;
    width: 100%;

}

#location-symbol{
    border-radius: 15px 0 0 15px;
}

#search-bar{
    font-size: 19px;
    height: 55px;
}

#location-symbol{
    height: 55px;
    width: 55px;
}

.btn-search{
    visibility: hidden;
    position: absolute;
}

.btn-search-magnifier{
    visibility: visible;
    color: white;
    background-color: #0065FC;
    border-radius: 15px;
    border:#0065FC;
    font-size: 18px;
    height: 55px;
    width: 55px;
    margin-left: -50px;
}

#filters-area{
    display: inline-block;
}

#filters-area h5{
    width: 100%;
    font-size: 26px;
    margin-bottom: 20px ;
    margin-top: 0;
}

.filter-css{
    margin-bottom: 15px;
}

/* Bloc informationnel */

#information-bloc{
    margin: 15px 0 35px 0;
}

#information-bloc p{
    font-size: 18px;
    margin: 0 0 0 30px;
}

/* Section hébergements  */

/* Bloc Populaire */

#title-right-bloc{
    margin: 0 0 35px 0;
}

#title-right-bloc h4{
    font-size: 28px;
}

#popular-symbol{
    font-size: 28px;
}

#accomodation-bloc{
    display: block;
}

#acc-bloc-right{
    padding:55px 20px 35px 20px;
    margin: 0;
    border-radius: 0;
}

#acc-bloc-left{
    border-radius: 0;
    background-color: white;
}

.art-acc-right{
    width: 100%;
    margin: 0 0 10px 0;
    border-radius: 20px;
}

.art-acc-right:hover{
    transform: none;
}

.miniature-2{
    width: 30%;
}

#acc-bloc-left{
    padding: 35px 20px 40px 20px;
}

#acc-bloc-left h4{
    margin: 0 0 20px 0;
    font-size: 28px;
}

.art-acc-left{
    margin: 0 0 10px 0;
    width: 100%;
    height: 100%;
}

.miniature {
    height: 150px;

}
.art-acc-left:hover{
    transform: none;
}

#acc-bloc-left a {
    margin: 20px 0 0 0;
    padding: 0;
}

/* Section activités  */

#container-articles-activities{
    padding: 0 20px 0 20px;
}

#activities-title h3{
    margin-left: 20px;
    font-size: 28px;
}

.articles{
    margin-bottom: 20px;
}

#fort-de-pomegues{
    margin-bottom: 20px;
}

#notre-dame-de-la-garde{
    margin-bottom: 20px;
}

#container-article-1{
   display: flex;
}
.article-vertical, .article-horizontal-md, .article-horizontal-lg{
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
}

.article-vertical:hover, .article-horizontal-md:hover, .article-horizontal-lg:hover{
    transform: none;
}

.miniature-verticale{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.miniature-horizontale-md{
    height: 200px;
    object-fit: cover;
}

.articles footer{
    margin-bottom: 15px;
}

/* Section Footer  */

#container-footer{
    display: flex;
    flex-direction: column;
    padding: 55px 0 50px 20px;
}

#container-footer strong{
    font-size: 22px;
}

#container-footer a {
    font-size: 20px;
}

.column-footer{
    margin: 0 20px 0 0;
    padding-left: 10px;
}