 /* *{
    border: solid black .5px;
 } */
/* *:focus{
    outline: none;
} */

/* p, h1, h3, h4, h5, i{
    cursor: default;
} */

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a{
    color: black;
}

button{
    cursor: pointer;
    outline: none;
}

article a{
    text-decoration: none;
    /* display: block; */
    width: 100%;
    height: auto;
}

#header-bloc{
    display: inline-block;
    width: 100%;
}
/* #header-bloc{
    display: flex;
    justify-content: space-between;
} */

#logo{

    display: inline-block;
    height: auto;
    margin: 50px 0 30px 55px;
}

.logo-reservia{
    display: block;

}

#logo img{
    height: auto;
    width: 130px;
}

#sign-out{
    display: block;
    float: right;
    color: #0065FC;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 53px 0 45px 15px;
    margin-right: 60px;
}


/* Barre de navigation  */

#menu{
    display: block;
    float: right;
    text-align: center;
    /* position: fixed; */
}

#menu ul{
    margin: 0px;
    padding: 0;
}

#menu li {
    display: inline-block;
    text-align: center;
    padding: 50px 20px 40px 20px;
    min-width: 120px;
    border-top: solid 4px transparent;
}

#menu li:hover{
    border-top: solid 4px #0065FC;
    transition: border-top .5s ease;
}

#menu ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: auto;
}

#menu li a:hover{
    color: #0065FC;
    transition: color .5s ease;
   
}

a:active{
    color: #0065FC ;
}


/* Zone de recherche  */

#finder-search-filter-bloc{
    margin-left: 55px;
}

#search-area{
    margin-bottom: 35px;
}

#search-area h1{
    margin: 0;
    font-size: 25px;
}

#search-area p{
    margin-top: 10px;
    font-size: 18px;
}

#global-search-bar{
    display: flex;
    /* border: solid 2px #F2F2F2; */
    border-radius: 20px;
    max-width: 480px;
    
}



.btn-search-magnifier{
    display: none;
}

#location-symbol{
    /* margin : 1px 0 1px 0; */
    display: inline;
    padding: 1px 0 1px 1px;
    height: 60px;
    width: 60px;
    border-radius: 15px 0 0 15px;
    font-size: 22px;
    border: solid 4px transparent;
    /* border: solid 1px #F2F2F2; */
    /* border-top: none; */
    z-index: 4;
    cursor: pointer;
}

#search-bar{
    /* min-width: 10%; */
    max-height: 60px;
    max-width: 100%;
    /* min-width: 480px; */
    padding-left: 80px;
    /* font-size: 18px ; */
    font-weight: bold;
    /* border: none; */
    border: solid 1px #F2F2F2;
    border-radius: 15px;
    /* border-left: none; */
    margin-left: -60px;
    font-size: 22px;
}

#search-bar::placeholder{
    color: black;
    /* font-size: 22px; */
}

#search-bar:focus {
    outline: none;
    border: #0065FC solid 2px;
    border-radius: 15px;
    background-color: transparent;
    z-index: 5;
}

/* Lettre capitale dans le input  */

#search-bar[type="search"]{
    text-transform: capitalize;
}

/* Cancel cross déplacement */

#search-bar::-webkit-search-cancel-button{
    display: block;
    position: relative;
    right: 130px;
}

#search-bar::-webkit-search-results-decoration{
    display: block;
    background: transparent;
}

.btn-search{
    width: 160px;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 22px;
    margin-left: -130px;

}


/* Zone de filtres */

#filters-area{
    display: block;

}

#filters-area h5{
    display: block;
    float: left;
    margin: 20px 40px 0 0;
    font-size: 22px;
}

.filter-css {
    display: inline-block;
    /* width: auto; */
    height: 56px;
    background-color: transparent;
    margin:auto;
    position: relative;
    border-radius: 50px;
    border: solid 2px #c7c4c4;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* .filter-css:hover{
    background-color: #DEEBFF;
    border: solid 2px #DEEBFF;
} */


.filter-css p {
    font-size: 20px;
    font-weight: bold;
    padding-left: 70px;
    margin-right: 30px;
    margin-top: 18px;
}

.filter-css label {
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      top: -2px;
      right: 0px;
      left: -2px;
      z-index: 1;
      background: #DEEBFF;
      border-radius: 50px;
      transition: all 0.4s ease;
      cursor: pointer;
    }

.filter-css label i{
    display: block;
    text-align: center;
    padding-top: 18px;
    font-size: 24px;
    color: #0065FC;
}

.filter-css input[type=checkbox] {
      visibility:hidden;
      /* position: absolute; */
    }


.filter-css input:checked + label {
    width: 105%;
       /* left: 6px; */

  }
  
  .filter-css input:checked + label{
      background-color: #0065FC;
  }

  .filter-css input:checked + label .fas {
      color: #DEEBFF;
  }





/* Bloc informationnel */

#information-bloc{
    margin: 10px 0 20px 0;
}

.info {
    display: inline;
    height: 30px;
    width: 30px;
    float: left;
    border-radius: 20px;
    border: solid 0.5px #d9d9d9;
    background-color: white;
}
.info i{
    color: #0065FC;
    font-size: 14px;

}

#information-bloc p{
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 6px;;
}

/* Bloc Hébergement */

#accomodation-bloc{
    /* display: inline-block; */
    margin-left: 55px;
    margin-right:55px;
    display:flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    /* margin-left: 55px; */
}

    /* Bloc Gauche */


#acc-bloc-left{
    /* display: block; */
    /* display: inline-block; */
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 100%; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-content: space-between; */
    padding: 20px 40px 0 40px;
    margin-right: 45px;
    background-color: #F2F2F2;
    border-radius: 20px;
    /* height: 610px; */
    /* height: auto; */
    max-width: 900px;
    /* min-width: 680px; */
}
   
.container-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    /* align-content: space-between; */
    /* height: 100%; */
    /* width: 300px; */
}
   
   

#acc-bloc-left h1{
    /* display: block; */
    /* width: 100%; */
    font-size: 25px;
    height: 30px;
    margin: 20px 0 30px 0;
}

        /* Articles bloc de gauche*/

/* .art-acc-left:hover{
    transform: scale(1.1);
    transition: ease .2s;
} */

.miniature{
    object-fit: cover;
    width: 100%;
    height: 125px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 3px;
    
}

.art-acc-left{
    display: inline-block;
    border: solid 5px white;
    box-shadow: 2px 2px 12px #d9d9d9 ;
    border-radius: 15px;
    /* margin-left: 38px; */
    margin-bottom: 25px;
    background-color: white;
    height: 208px;
    /* height: 100%; */
    width: 30%;
    min-width: 200px;
    /* min-width: 210px; */
   
}

@media (max-width: 1315px){

    .art-acc-left{
        width: 45%;
    }
}

.text-article-left{
    display: block;
    margin-left: 18px;
}

.art-acc-left h5{
    font-size: 18px;
    padding-left: 12px;
    margin-bottom: -10px;
    margin-top: 5px;
}

.art-acc-left p{
    font-size: 16px;
    padding-left: 12px ;
    margin-bottom: -2px;
}

#acc-bloc-left .stars-area{
    padding-left: 12px;

}

.stars-area{
    margin-top: 5px;

}

.stars{
    color: #0065FC;
    margin-right: -4px;
    
}

.grey-stars{
    color: #d9d9d9;
    margin-right: -4px;
}

#display-more{
    display: block;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
#display-more a{
    /* display: block; */
    /* width: 120px; */
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* Bloc Hebergements droite  */

#acc-bloc-right{
    /* display: inline; */
    /* float: right; */
    width: auto;
    height: 675px;
    background-color: #F2F2F2;
    border-radius: 20px;
    /* margin-left: 40px; */
    /* margin-right: 40px; */
    
}

#title-right-bloc{
    display: block;
    margin: 40px 30px 0 30px;
    
}

#title-right-bloc h4{
    display: inline;
    font-size: 25px;
    /* margin-right: 20px; */
}

#popular-symbol{
    display: block;
    float: right;
    font-size: 25px;
}

/* Articles Hébergements droite */

.art-acc-right{
    background-color: white;
    margin: 30px;
    border-radius: 20px;
    height: 145px;
    border: solid 2px white;
    box-shadow: 2px 2px 12px #d9d9d9 ;
    width: auto;
    min-width: 345px;
    max-width: 390px;
}

.art-acc-right footer{
    display: flex;
    flex-direction: row;
}

.miniature-2{
    display: block;
    float: left;
    margin-right: 20px;
    border: solid 3px white ;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    width: 130px;
    height: 140px;
}

.art-acc-right h3{
    display: inline-block;
    font-size: 18px;
    width: auto;
    margin: 15px 0 5px 0px;
}

.art-acc-right p{
    display: inline-block;
    font-size: 16px;
    margin: 0 0 30px 0;
}

#stars-area{
    display: block;
    margin-left: 0px;
}


/* Section Activités  */

/* mise en page containers  */

#activities{
    max-width: 1490px;
    margin: 60px 50px 50px 55px;
}

#activities-title h3{
    font-size: 26px;
    font-weight: bold;
}

#container-articles-activities{
    min-height: 470px;
    display: flex;
    justify-content: space-between;
}

/* Premier et deuxième articles  */

.articles{
    width: 330px;
}

.article-vertical{
    height: 100%;
    /* min-height: 500px; */
    /* width: 350px; */
    background-color: white;
    box-shadow: 2px 2px 12px #d9d9d9 ;
    border-radius: 20px;
}

.miniature-verticale{
    width: 100%;
    /* min-height: 100%; */
    height: 100%;  
    object-fit:cover;
    border-radius: 20px;
}

/* 2/3 et 5/6e articles */

.articles-lg-md{
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

#container-article-4{
    margin-left: 30px ;
}

.article-horizontal-lg{
    display: block;
    width: 100%;
    height: 250px;
    /* margin: 0; */
    border-radius: 20px;
    box-shadow: 2px 2px 12px #d9d9d9 ;
}

.miniature-horizontale-lg{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.article-horizontal-md{
    display: block;
    height: 170px;
    width: 100%;
    border-radius: 20px;
    margin: 0;
    box-shadow: 2px 2px 12px #d9d9d9 ;
}

.miniature-horizontale-md{
    /* overflow: hidden; */
    height: 100%;
    /* max-height: 150px; */
    width: 100%;
    object-fit: cover;
    border-radius: 20px;   
}

.legend {
    position: relative;
    width: 100%;
    height: 55px;
    bottom: 58px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    border: solid 1px white;
}

.legend p{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}


/* Pied de page  */

#container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #F2F2F2;
}

#container-footer a{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}
#container-footer strong{
    font-size: 22px;
}
.column-footer{
    margin: 50px 240px 60px 50px;
}

