/* *{
    border: solid 0.2px gray;
} */

/* *:focus{
    outline: none;
} */

body{
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
}

#header-bloc{
    height: 80px;
}

#logo{

    float: left;
}
#menu li {
    display: inline-block;
    float: right;

}


a{
    text-decoration: none;
    color: black;
    padding-right: 80px;
    font-size: 12px;
}

a:active{
    color: #0065FC ;
}

#sign-out{
    color: #0065FC;
    font-weight: bold;
}

/* Zone de recherche  */

#search-area h1{
    font-size: 18px;
    font-weight: bold;
}

#search-area p{
    font-size: 13px;
}

#location-symbol{
    display: inline;
    float: left;
    border: none;
    background-color: #F2F2F2;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

}
#search-bar{
    height: 30px;
    width: 200px;
    margin: 0;
}

input[type=search]{
    display: inline;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: solid 1px #F2F2F2;
    height: 35px;
    width: 190px;
    padding-left: 15px;
}


#search-area  .btn-search{
    
    color: white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border:none;
    font-size: 14px;
    height: 35px;
    width: 110px; 
}

/* Zone de filtres */

#filters-area{

    margin-top: 30px;
}
#filters-area h5{
    display: inline-block;
    margin-right: 20px;
}

.filter{
    display: inline-block;
    border: solid 1px #d9d9d9;
    font-weight: bold;
    border-radius: 20px;
    height: 40px;
    width: auto;
    justify-content: center;
}

.filter-symbol{
    display: inline-block;
    background-color: #DEEBFF;
    color: #0065FC;
    height: 40px;
    width: 40px;
    border: solid 1px #DEEBFF;
    border-radius: 30px;
    text-align: center;
}

/* Bloc informationnel */

#information-bloc{
    margin-top: 20px;
    margin-bottom: 30px;
}

.info {
    display: inline;
    float: left;
    border-radius: 10px;
    border: solid 0.5px #d9d9d9;
    background-color: white;
    margin-right: 15px;
}
.info i{
    color: #0065FC;

}

#information-bloc p{
    display: inline;
    font-size: 12px;
}

/* Bloc Hébergement */

    /* Bloc Gauche */

#acc-bloc-left{
    display: inline-block;
    float: left;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    height: auto;
}

        /* Articles */

.miniature{
    width: 200px;
    border-radius: 15px 15px 0 0;
    margin-bottom: -15px;
    height: auto;
}

.art-acc-left{
    display: inline-block;
    border: solid 5px white;
    box-shadow: 6px 6px 10px #d9d9d9 ;
    border-radius: 15px;
    margin: 15px;
    background-color: white;
    height: 210px;
   
}

.art-acc-left h5{
    padding-left: 8px;
    margin-bottom: 0;
}

.art-acc-left p{
    font-size: 12px;
    padding-left: 8px ;
    margin-bottom: 5px;
}

#stars-area{
    padding-left: 8px;
}
.stars{
   padding-left: 0px; 
   color: #0065FC;
}

.grey-stars{
    color: #d9d9d9;
}