body{
    margin: 40px;
    font-family: 'Raleway', sans-serif;
}

#logo{

    float: left;
}
#menu li {
    display: inline-block;
    float: right;
    padding: 20px;

}

a{
    text-decoration: none;
    color: black;
}

